<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="{{static_url}}style.css" />
<body style="background-color:black;"></body>
<!-- <body style="background-color:white;"></body> -->

<head>
    <meta charset="UTF-8">
</head>
<body>
    <div style="text-align: center">
        <a href="{{ url_for('home')}}">
            <img  class="animated-gif" src="{{url_for('static', filename='ssstr1pe-spin.gif')}}" style="max-height: 400px; max-width: 400px;" align="center" />
        </a>
    </div>
</body>
</html>