{% extends 'navbar.html' %}
{% block content %}


<div>
    <div>
        <p>You can find me on Soundcloud:</p>
    </div>
</div>


<div class="outer">
    <a class="inner" href="https://soundcloud.com/ssstr1pe">
        <img src="{{url_for('static', filename='soundcloud.jpg')}}" style="max-height: 100px; max-width: 100px;" />
    </a>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div>
    <div>
        <p>And on Spotify:</p>
    </div>
</div>

<div class="outer">
    <a class="inner" href="https://open.spotify.com/artist/0Foe2BAYwLMAzrAHhcalxb?si=dT1PJaYwSuWPkpXS_6fOLg">
        <img src="{{url_for('static', filename='spotify.jpeg')}}" style="max-height: 100px; max-width: 100px;" />
    </a >
</div>
{% endblock %}
